.btn {
  background-color: #FFD365 !important;
  font-family: "Source Serif 4", sans-serif !important;
  font-weight: 700 !important;
  border: 3px solid transparent !important;
  text-transform: uppercase !important;
  padding: 13px !important;
  font-size: 1.2rem !important;
  cursor: pointer;
}
.btn:hover {
  border-bottom: 3px solid black !important;
}
.navbar-glass {
  background: rgba( 255, 255, 255, 0.3 ) !important;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
backdrop-filter: blur( 0px ) !important;
-webkit-backdrop-filter: blur( 0px ) !important;
border-radius: 10px !important;
border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;

}
.home {
  background: none !important;
  backdrop-filter: blur( 0px ) !important;
-webkit-backdrop-filter: blur( 0px ) !important;
  font-family: "Source Serif 4", sans-serif !important;
  font-weight: 700 !important;
  border: 3px solid transparent !important;
  text-transform: uppercase !important;
  padding: 13px !important;
  font-size: 1.2rem !important;
  cursor: pointer;
}